@import "tailwindcss";

/* 🌊 Ocean Theme (default) */
:root {
  --bg-start: #f1f5f9;
  --bg-middle: #e0f2fe;
  --bg-end: #bae6fd;

  --glass-bg: rgba(255, 255, 255, 0.7);
  --glass-border: rgba(226, 232, 240, 0.6);

  --text-main: #334155;
}

/* 🌑 Dark Theme */
.dark {
  --bg-start: #020617;
  --bg-middle: #020617;
  --bg-end: #0f172a;

  --glass-bg: rgba(15, 23, 42, 0.7);
  --glass-border: rgba(51, 65, 85, 0.6);

  --text-main: #e5e7eb;
}
